<%- include('../header') %>
<style>
  .card{
    max-width: 700px !important;
    margin-left: 20% !important;
  }
  .card-body{
    margin-top: 10% !important;
  }
</style>
<div class="body-wrapper-inner">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Add Category</h5>
          <div class="card">
            <div class="card-body">
              <form method="post" action="/admin/category/addcategoryfield">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Category Field</label>
                  <input type="text" name="category" class="form-control text-capitalize" id="exampleInputEmail1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
      
        </div>
      </div>
    </div>
  </div>

<%- include('../footer') %>